<!DOCTYPE html>
<html lang="sv">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data:">
        <title>Course list</title>
        <link rel="icon" href="/images/contract_12333209.png" />
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/navMenu.js" defer></script>
    </head>
</head>
<body>
    <header id="scroll_function">
        <section class="header-section">
            <h2 class="logo" tabindex="0" onclick='window.location.href = "/"'>BACKEND MOMENT01</h2>
        </section>
        <button class="menuBtn open" id="open-menu">
            <span class="menu-icon">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </span>
            <span class="menu-text">Meny</span>
        </button>
        <nav id="nav-menu">
            <button class="menuBtn close" id="close-menu">
                <span class="menu-icon">
                    <span class="bars cross1"></span>
                    <span class="bars cross2"></span>
                </span>
                <span class="menu-text">stäng</span>
            </button>
            <ul>
                <li class="links"><a href="/">Startsida</a></li>
                <li class="links"><a href="/add_course">lägga till kurs</a></li>
                <li class="links"><a class="action" href="#">Om sidan</a></li>
            </ul>
        </nav>
    </header>
    <div class="uppgift_container">
        <article class="uppgift">
            <h1>Om Uppgiften</h1>
            <p>
                Uppgiften är en onlineapplikation där användaren har möjlighet att ange de kurser som hen har tagit via ett
                formulär. All information om kurserna sparas i en relationsdatabas. Varje kurs innehåller uppgifter som:
                <li>kursskod</li>
                <li>kurssnamn</li>
                <li>progression </li>
                <li>länk till sidans kurs</li>

                <p>
                    All kod har skrivits i Visual Studio Code, och projektet använder nodeJS, express och view engine EJS. Jag har valt
                    PostgreSQL som databasserver. Jag använder render.com för att värd min databas i molnet.
                </p>
            </p>
            <p>
                Att jobba med Express har verkligen varit en givande erfarenhet för mig. Även om jag stött på några svårigheter med
                syntaxen, har jag verkligen uppskattat hur effektivt och enkelt ramverket är.
            </p>
            <p>
                Jag har kunnat minska mängden kod jag skriver och ändå skapa avancerade webbapplikationer genom att använda Express.
                Denna uppgift har inte bara bidragit till min kunskap, utan även gjort mitt intresserad av att undersöka mer om
                användning av olika databaserserver och hantering av databaser i webbapplikationer.
            </p>
        </article>
    </div>
</body>
</html>