<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data:">
    <title>Course list</title>
    <link rel="icon" href="/images/contract_12333209.png" />
    <link rel="stylesheet" href="/css/main.css">
    <script src="/public/js/navMenu.js" defer></script>
</head>
<body>
    <header id="scroll_function">
        <section class="header-section">
            <h2 class="logo" tabindex="0" onclick='window.location.href = "/index.html"'>BACKEND MOMENT01</h2>
        </section>
        <button class="menuBtn open" id="open-menu">
            <span class="menu-icon">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </span>
            <span class="menu-text">Meny</span>
        </button>
        <nav id="nav-menu">
            <button class="menuBtn close" id="close-menu">
                <span class="menu-icon">
                    <span class="bars cross1"></span>
                    <span class="bars cross2"></span>
                </span>
                <span class="menu-text">st채ng</span>
            </button>
            <ul>
                <li class="links"><a href="/">Startsida</a></li>
                <li class="links"><a class="action" href="#">l채gga till kurs</a></li>
                <li class="links"><a href="#">Om sidan</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>moment01 - Backend-baserad webbutveckling</h2>
            <% if(locals.error) { %>
                    <p><%= error %></p>
            <% } %>
            <form id="new" method="post" action="/">
                <span class="inputSpan one">
                    <label for="Course_ID">kurskod:</label>
                    <input type="text" name="kurskod" id="Course_ID" placeholder="t.ex DT208G"> 
                </span>
                <span class="inputSpan two">
                    <label for="Course_Name">kursnamn:</label>
                    <input type="text" name="kurs_name" id="Course_Name" placeholder="t.ex Backend baserad webbutveckling">         <!--    &nbsp -->
                </span>
                <span class="inputSpan three">
                    <label for="Progression">progression:</label>
                    <select id="Progression" name="Progression">
                        <option value="">v채lj ett alternativ</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                </span>
                <span class="inputSpan four">
                    <label for="urlInput">Webbsida:</label>
                    <input type="text" id="urlInput" name="kurs_url" placeholder="https://elearn20.miun.se" inputmode="url">
                </span>
                <span class="inputSpan five">
                    <button class="btn" id="addBtn">L채gg till kurs</button>
                </span>
            </form>
            <div class="clearBTN">
                <button id="clearbutton" class="btn">Rensa kurser</button>
            </div>
            <p id="message"></p> 
    </main>
</body>
</html>