<div class="backgroundImage"></div>
<div class="container">
    <fieldset id="loginForm" class="login form">
        <h2 class="header">Login</h2>
        <form method="POST" action="/login">
            <label for="e-postadress">Ange din e-postadress:</label>
            <input type="text" placeholder="Ange din e-postadress" id="e-postadress" name="email" autocomplete="username" >
            <label for="password">Ange ditt lösenord:</label>
            <input type="password" id="password" placeholder="Ange ditt lösenord" name="password" autocomplete="current-password">
            <a href="#">Glömt ditt lösenord?</a>
            <label for="login" style="display: none;">login</label>
            <input type="submit" id="login" class="button" value="Login">
        </form>
        <!-- <section class="signup">
            <h4 class="signup">Har du inget konto?</h4>
            <p id="bli-medlem">Bli Medlem</p>
        </section> -->
    </fieldset>

</div>