@media only screen and (min-width: 992px) {

    .menuBtn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    nav {
        display: block !important;
        position: static;
        right: 0;
        top: 0;
        height: auto;
        font-size: --second-font-size;
        width: auto;
    }

    header nav ul {
        height: 100%;
        display: flex;
        align-items: center;
    }

    header nav .links {
        display: inline;
        padding: 1em 0;
        white-space: nowrap;
        
    }
}

@media only screen and (max-width : 800px) {
    body {
        background-color: #fff;
    }
    .container {
        box-shadow: none;
        border-radius: 0;
    }

    #mainheader {
        height: auto;
        line-height: auto;
        padding-bottom: 0;
    }

    #mainheader h1 { float: none; }

    #new {
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    .inputSpan {
        justify-content: start;
    }

    input[type="text"], select {
        width: 75%;
    }
}


@media only screen and (max-width : 600px) {
    #data {
        width: 90%;
        table-layout: fixed;
    }
}